section.admin_room_types-form
  .default-form
    .block_form
      .left
        = f.input :name
        = f.input :capacity
        = f.input :amenities
      .right  
        = f.input :price_per_night_cents
        = f.input :price_per_month_cents
        = f.input :size  
    = f.input :description
    .clearfix
      .pull-left
        = f.button :submit, class: "btn-primary-o"