- breadcrumb :room_type_edit

.block
  .header
    .title
      h1 Edit Room Type
      p Please fill in room type information to edit room type.
  = simple_form_for @room_type, html: { class: 'show-required' }, url: admin_room_type_path(@room_type), as: :room_type do |f|
    = render 'form', room_type: @room_type, f: f