- breadcrumb :room_types

.block
  .header
    .title
      h1 Room_types
      p You can check ...
    .buttons
      = link_to "New Room Types", new_admin_room_type_path, class: "btn btn-primary-o"
  .clearfix        
  - @room_types.each do |r|
    .room_type
      h3 = r.name
      .details
        .left
          .detail
            b Capacity :
            p = r.capacity
          .detail
            b Price per night
            p = r.price_per_night
          .detail
            b Price per month
            p = r.price_per_month
        .right    
          .detail
            b Amenities:
            p = r.amenities.texts.join(", ")
          .detail
            b Size:
            p = "#{r.size} ft."
          b Description:
          p.description = simple_format r.description.truncate(200)
      .contols 
        = link_to 'Edit Room Type', edit_admin_room_type_path(r), class: 'btn btn-primary-o'
        = link_to 'Delete Room Type', admin_room_type_path(r), method: :delete, class: 'btn btn-primary-o'
  = will_paginate @reservations , :previous_label => '<<', :next_label => '>>', renderer: BootstrapPagination::Rails