- breadcrumb :room_type_create

.block
  .header
    .title
      h1 Create New Room Type
      p Please fill in room type information to create new room type.
  = simple_form_for @room_type, html: { class: 'show-required' }, url: admin_room_types_path do |f|
    = render 'form', room_type: @room_type, f: f