body.devise_sessions.new {
  main {
    .form-actions {
      float: right;
    }
    .form-group.user_email {
      position: relative;
      &:after {
        content: "\f0e0";
        right: 20px;
        bottom: 10px;
      }
    }
    .form-group.user_password {
      &:after {
        content: "\f023";
        right: 20px;
        bottom: 10px;
      }
    }
  }
}