section.home-header {
  background-image: linear-gradient( 162deg, rgb(51,73,117) 0%, rgb(105,137,202) 100%);
  min-height: 600px;

  .container {
    .menu {
      float: right;
      margin-top: 80px;

      > a {
        font-size: 24px;
        color: #fff;
        line-height: 24px;
        text-align: center;
        z-index: 271;
        float: right;
      }

      > img {
        z-index: 271;
        float: left;
        margin-right: 15px;
        margin-top: 2px;
      }  
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;

    img {
      text-align: left;
      z-index: 261;
    }

    p {
      font-size: 36px;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      margin-top: 50px;
    }
  }
}