section.home-our_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col-left, .col-right {
    padding: 0 15px;
  }

  .col-left  {
    flex-basis: 610px;
    padding-top: 80px;

    h4 {
      font-size: 24px;
      color: rgb(33, 33, 33);
      font-weight: bold;
      line-height: 1.2;
    }

    img {
      margin: 33px 0;
    }

    p {
      font-size: 16px;
      color: rgb(66, 66, 66);
      line-height: 1.5;
    }

    input {
      margin: 30px 0;
    }

    .btn-brown {
      line-height: 50px;
      margin: 50px 0;
    }
  }

  .col-right {
    flex-basis: 610px;
  }
}