section.home-our_address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col-left, .col-right {
    padding: 0 5px;
  }

  .col-left  {
    flex-basis: 610px;
    padding-top: 80px;

    h4 {
      font-size: 24px;
      color: rgb(33, 33, 33);
      font-weight: bold;
      line-height: 1.2;
    }

    p {
      font-size: 16px;
      color: rgb(66, 66, 66);
      line-height: 1.5;
    }

    .btn-brown {
      line-height: 50px;
      margin: 50px 0;
    }
  }

  .col-right {
    flex-basis: 600px;

    .about-us {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      div {
        display: flex;
        justify-content: space-between;
        min-width: 100px;

        p {
          font-size: 18px;
          color: rgb(136, 136, 136);
          font-weight: bold;
          line-height: 1.2;
          margin: 0;
        }
      }

      iframe {
        max-width: 600px;
      }
    }
  }
}