section.home-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col-left, .col-right {
    padding: 0;
  }

  .col-left  {
    flex-basis: 610px;
  }

  .col-right {
    flex-basis: 610px;

    .details {
      .navigation {
        margin: 70px 0 30px 13px;

        > p {
          display: inline-block;
          font-size: 18px;
          color: rgb(33, 33, 33);
          line-height: 1.2;
          margin: 0 15px;
        }

        > img {
          margin-bottom: 5px;
        }
      }

      .content {
        margin-left: 15px;

        h4 {
          font-size: 30px;
          color: rgb(33, 33, 33);
          font-weight: bold;
          line-height: 1.2;
        }

        > img {
          margin: 33px 35px 33px 0;
        }

        .description {
          p {
            font-size: 16px;
            color: rgb(33, 33, 33);
            line-height: 1.5;
          }
        }

        .room-size {
          display: flex;

          img {
            flex-basis: 40px;
            min-width: 49px;
          }

          > .detail {
            flex: 1;
            margin-left: 30px;

            h5 {
              display: inline-block;
              font-size: 16px;
              color: rgb(33, 33, 33);
              font-weight: bold;
              line-height: 1.5;
              min-width: 90px;
            }

            p {
              display: inline-block;
              font-size: 16px;
              color: rgb(33, 33, 33);
              line-height: 1.5;
              margin-left: 35px;
            }
          }
        }
      }

      .price {
        display: flex;
        margin-top: 35px;

        > div {
          flex: 1;

          b, span {
            line-height: 38px;
            display: inline-block;
            font-size: 20px;
          }

          b {
            background: #1d3566 url(image_path("home/price-bg.jpg")) no-repeat; 
            background-position: right center;
            padding: 0 15px 0 10px;
            color: #fff;
          }

          span {
            margin-left: -5px;
          }
        }
      }
    }
  }
}