section.home-search {
  color: #fff;

  .container {
    .search {
      min-height: 150px;
      margin-top: -75px;
      border-radius: 5px;
      background-color: rgb(29, 53, 102);
      opacity: 0.902;
      box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
      z-index: 68;
      padding: 30px 50px;

      .cols {
        display: flex;
        justify-content: center;
        align-items: center;

        > .col-1 {
          flex-basis: 148px;
          padding: 10px 15px 0 15px;
          border-right: 1px solid #fff; 

          p {
            font-size: 18px;
            display: inline-block;
            margin: 0;
          }

          h5 {
            font-size: 30px;
            font-weight: bold;
            display: inline-block;
            margin: 0;
          }
        }

        > form {
          flex: 1;
          width: 100%;
          padding: 0 20px;

          .cols-input {
            display: flex;
            margin-top: 10px;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;

            .col-input {
              flex-basis: 197px;
              margin-right: 10px;

              input {
                min-height: 40px;
                width: 100%;
              }

              label {
                font-size: 18px;
              }
            }

            .col-btn {
              flex-basis: 110px;
              margin-top: 12px;

              input {
                min-width: 107px;
                line-height: 37px;
                padding: 0;
                font-size: 16px;
                font-weight: bold;
                color: #fff !important;
                border: 2px solid #fff !important;
                background-color: rgb(29, 53, 102) !important;
              }
            }
          }
        }
      }

      abbr[title="required"] {
        display: none;
      }

      &.show-required {
        abbr[title="required"] {
          display: inline-block;
        }
      }
    }
  }
}