body.home.index {
  position: relative;

  main {
    padding: 0;

    .rooms {
      position: relative;

      section.home-room {
        display: none;

        &.active {
          display: flex;
        }
      }
    }
  }

  section.home-room {
    padding: 75px 0 150px 0;
  }

  section.home-our_services {
    padding: 180px 0 190px 0;
  }
  
  section.home-our_address {
    padding: 170px 0 210px 0;
  }

  @media only screen and (max-width: 1120px) {
    section.home-room {
      padding: 75px 0 100px 0;
    }

    section.home-our_services {
      padding: 90px 0 100px 0;
    }
    
    section.home-our_address {
      padding: 90px 0 100px 0;
    }
  }
}
