body.admin_room_images.index {
  main {
    .block {
      .room_image {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 20px 0;

          h3 {
            font-size: 24px;
            color: rgb(33, 33, 33);
            font-weight: bold;
          }

        .details {
          display: flex;
          align-items: center;
          padding: 30px 0;

          .detail {
            b {
              font-size: 16px;
              color: rgb(33, 33, 33);
            }
          }
        }

        .contols {
          a {
            margin: 5px;
          }
        }
      }
    }
  }
}