.block  
  h1 ACCCOUNTS
  p.button-new = link_to 'New', new_admin_account_path, class: "btn-primary-o"

  table.table.table-striped
    thead
      tr
        th Id
        th Email
        th Type
    tbody
      - @accounts.each do |account|
        tr
          td = account.id
          td = account.email
          td = account.type
          td 
            ul.actions
              li = link_to 'Edit', edit_admin_account_path(account)
              li = link_to 'Delete',admin_account_path(account), method: :delete