- breadcrumb :rooms

.block
  .header
    .title
      h1 Rooms
      p You can check ...
    .buttons
      = link_to "New Room", new_admin_room_path, class: "btn btn-primary-o"
  .clearfix        
  - @rooms.each do |r|
    .room
      h3 = r.name
      .contols
        = link_to 'Edit Room', edit_admin_room_path(r), class: 'btn btn-primary-o'
        = link_to 'Delete Room', admin_room_path(r), method: :delete, class: 'btn btn-primary-o'
  = will_paginate @rooms , :previous_label => '<<', :next_label => '>>', renderer: BootstrapPagination::Rails

