- breadcrumb :room_create

.block
  .header
    .title
      h1 Create New Room 
      p Please fill in room information to create new room.
  = simple_form_for @room, html: { class: 'show-required' }, url: admin_rooms_path do |f|
    = render 'form', room: @room, f: f