section.layouts-breadcrumb {
  position: absolute;
  top: 60px;
  left: 260px;
  right: 0;
  padding: 30px;

  ol {
    background-color: rgb(255, 255, 255);
    line-height: 60px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0 30px;

    li {
      a {
        font-size: 14px;
        color: rgb(57, 59, 105);
        font-weight: bold;
      }

      &:last-child {
        a {
          font-size: 14px;
          color: rgb(57, 59, 105);
          font-weight: normal;
        }
      }
    }
  }
}