.simple_form {
  .form-group {
    position: relative;
    
    &:after {
      position: absolute;
      bottom: 20px;
      right: 20px;
      font-family: 'Font Awesome 5 Free';
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
    }
  }

  abbr[title="required"] {
    display: none;
  }

  &.show-required {
    abbr[title="required"] {
      display: inline-block;
    }
  }
}

.default-form {
  .form-group {
    display: flex;

    .label-wrapper {
      flex-basis: 180px;

      > label {
        font-size: 18px;
        line-height: 1.2;
        padding-top: 8px;
        font-weight: inherit;

        &::after { 
          content: ":";
        }
      }
    }

    .input-wrapper {
        flex: 1;

        > input {
        min-height: 40px;
      }

      > textarea {
        min-height: 185px;
        resize: none;
      }
    }
  }
  abbr[title="required"] {
    display: none;
  }

  &.show-required {
    abbr[title="required"] {
      display: inline-block;
    }
  }
}
