.header {
  min-height: 100px;

  .title {
    float: left;

     > h1 {
      font-size: 24px;
      color: rgb(52, 74, 119);
      font-weight: bold;
      margin-bottom: 20px;
    }

    > p {
      font-size: 14px;
      color: rgb(52, 74, 119);
    }
  }

  .buttons {
    float: right;
    margin-top: 10px;
  }
}