.bootstrap-select {
  li.selected {
    background: #efefef;
  }

  .btn {
    position: relative;
    height: 100%;
    background: #ffffff !important;
    box-shadow: none !important;
    padding-bottom: 0;
    border-color: #D9E0E3 !important;
    color: #495057 !important;
    font-weight: normal;
    border-radius: 2px;
    line-height: 1.3;
    font-size: 0.9em;

    &:focus {
      outline: none !important;
    }
  }

  &.btn-group {
    .no-results {
      background: none;
      padding: 5px;
      font-size: 14px;
    }

    .dropdown-menu { 
      padding: 0 0 20px 0 !important;
      

      li { 
        &.hidden {
          display: none;
        }
        
        a {
          display: block;
          padding: 10px 15px;
          color: #495057;
          border-bottom: 1px solid #eaecec;
          font-size: 12px;
        }

        &.active, &:hover {
          a {
            background-color: #FAFAFA;
          }
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -1px;
  }

  .dropdown-menu {
    .divider {
      margin: 3px 0;
    }

    &.open.show {
      .dropdown-menu {
        display: block;
      }
    }
  }
}