body.admin_contacts.index {
  main {
    .block {
      .contact {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 20px 0;

          h3 {
            font-size: 24px;
            color: rgb(33, 33, 33);
            font-weight: bold;
          }

        .details {
          display: flex;
          align-items: center;

          .left {
            flex: 1;
          }

          .right {
            flex: 1;  
          }

          .detail {
            display: flex;

            b {
              flex: 1;
            }

            p {
              flex: 1;
            }
          }
        }

        .contols {
          a {
            margin: 5px;
          }
        }

        b, p {
          font-size: 16px;
          color: rgb(33, 33, 33);
        }
      }
    }
  }
}