section.reservations-room_type {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;

  .image {
    flex-basis: 370px;

    > div {
      position: relative;

      .icons {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        align-items: center;

        img {
          margin: 0 10px;
        }
      }
    }
  }

  .details {
    flex: 1;
    margin-left: -30px;
    padding-left: 60px;

    .title {
      h4 {
        font-size: 30px;
        color: rgb(33, 33, 33);
        font-weight: bold;
      }
    }

    .detail {
      min-width: 420px;

      p {
        font-size: 16px;
        color: rgb(33, 33, 33);
      }
    }

    .price {
      display: flex;
      align-content: center;

      .per {
        flex-basis: 245px;

        p {
          font-size: 20px;
          color: rgb(52, 74, 119);
        }
      }
    }

    .size {
      display: flex;
      align-content: center;
      flex-wrap: wrap;

      .data {
        flex-basis: 270px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;

        .img {
          min-width: 40px;
          padding-top: 7px;
          flex-basis: 40px;
        }

        .document {
          flex-basis: 245px;
          padding: 15px 0 0 22px;
          margin: 0 -11px;

          b {
            display: inline-block;
            font-size: 16px;
            color: rgb(33, 33, 33);
          }

          p {
            display: inline-block;
            font-size: 16px;
            color: rgb(33, 33, 33);
            padding-left: 25px;
          }
        }
      } 
    }

    .clearfix {
      padding-top: 30px;
    }
  }

  .id {
    display: none;
  }
}