body.reservations.new {
  main {
    .contents {
      > .container {
        padding: 100px 0;
        min-height: 815px;

        ul.steps {
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: space-around;

          li.step {
            display: inline-block;
            text-align: center;
            flex: 1;
            border-bottom: solid 3px rgb(230, 230, 230);
            cursor: default;

            p {
              font-size: 18px;
              color: #000;
            }

            &.active {
              border-bottom: solid 3px rgb(221, 65, 69);

              p {
                color: rgb(221, 65, 69);
              }
            }

            &.completed {
              border-bottom: solid 3px rgb(12, 185, 101);

              p {
                color: rgb(12, 185, 101);
              }
            }
          }
        }

        div.steps {
          .step {
            display: none;
          }

          .step-1, .step-3 {
            padding: 70px 0;
            justify-content: center;
            align-content: center;

            &.active {
              display: flex;
            }

            > div {
              min-width: 570px;

              h3 {
                text-align: center;
                font-size: 24px;
                color: rgb(33, 33, 33);
                font-weight: normal;
              }
            }
          }

          .step-2 {
            padding: 70px 0; 

            &.active {
              display: block;
            }
          }
        }  
      }
    }

    .error {
      border-color: red;
    }
  }
}