body.reservations.show {
  main {
    .contents {
      > .container {
        padding: 100px 0;
        min-height: 815px;

        ul.steps {
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: space-around;

          li.step {
            display: inline-block;
            text-align: center;
            flex: 1;
            border-bottom: solid 3px rgb(230, 230, 230);
            cursor: default;

            p {
              font-size: 18px;
              color: #000;
            }

            &.active {
              border-bottom: solid 3px rgb(221, 65, 69);

              p {
                color: rgb(221, 65, 69);
              }
            }

            &.completed {
              border-bottom: solid 3px rgb(12, 185, 101);

              p {
                color: rgb(12, 185, 101);
              }
            }
          }
        }

        div.steps {
          margin-top: 30px;

          .step {
            display: none;
          }

          .step-4 {
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            &.active {
              display: flex;
            }

            .room {
              flex-basis: 470px;
              min-width: 470px;
              background: rgb(52, 74, 119);
              color: #fff;
              text-align: center;
              padding: 22px;

              h2 {
                padding: 0 10px;
              }
              div {
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;

                .left, .right {
                  flex-basis: 190px;

                  .content {
                    background-color: rgb(77, 101, 149);
                    min-height: 100px;
                    margin-top: 10px;
                  }
                }

                .left {
                  margin: 10px 5px 10px 10px;
                }

                .right {
                  margin: 10px 10px 10px 5px;
                }

                .content {

                  b {
                    min-width: 180px;
                    display: block;
                  }

                  p {
                    min-width: 180px;
                    display: block;
                  } 
                }

                .room_type {
                  background-color: rgb(77, 101, 149);
                  flex-basis: 420px;
                  margin: 0 18px ;
                  min-height: 100px;

                  b {
                    padding: 33px;
                  }
                }

                .total {
                  flex-basis: 200px;
                  padding: 30px 0 0px 0;
                  justify-content: flex-start;  
                }

                .price {
                  flex-basis: 200px;
                  padding: 30px 0 0px 0;
                  justify-content: flex-end;

                  p {
                    font-size: 20px;
                  }
                }
              }
            }

            .details {
              flex: 1;
              min-width: 474px;
              margin-left: -35px;
              padding-left: 70px;

              b {
                font-size: 16px;
                color: rgb(33, 33, 33);
              }

              p {
                font-size: 16px;
                color: rgb(33, 33, 33);
              }

              h2 {
                font-size: 24px;
                color: rgb(33, 33, 33);
              }

              .content {
                padding: 17px 0;
                display: flex;
                align-content: center;
                justify-content: center;

                .bold {
                  flex-basis: 150px;

                  b {
                    display: inline-block;
                  }
                }

                .p {
                  flex: 1;
                  
                  p {
                    display: inline-block;
                    margin: 0;
                  }
                }

                p.remark {
                  display: block;
                }
              }
            }

            > .clearfix {
              margin-top: 100px;
            }
          }

          p,b {
            font-size: 16px;
          } 
        }  
      }
    }
  }
}