section.admin_reservations-form
  .default-form.show-required
    .block_form
      .left
        = f.input :name
        = f.input :email, :input_html => { :type => "email" }
        = f.input :contact_number
        = f.input :nric
        = f.input :status
      .right  
        = f.input :arrival_on, :as => :date_picker
        = f.input :departure_on, :as => :date_picker
        = f.input :no_of_persons
        = f.input :no_of_rooms
    = f.input :remark
    .block_form
      .left
        = f.association :room_type
      .right  
        = f.association :rooms
    .clearfix
      .pull-left
        = f.button :submit, class: "btn-primary-o"