- breadcrumb :reservation_edit

.block
  .header
    .title
      h1 Edit Reservation
      p Please fill in customer’s information to edit update reservation.
  = simple_form_for @reservation, url: admin_reservation_path(@reservation), as: :reservation do |f|
    = render 'form', reservation: @reservation, f: f