- breadcrumb :reservations

.block
  .header
    .title
      h1 Reservations
      p You can check for reservation and edit them here. Or you can create new reservation too.
    .buttons
      = link_to "New Reservation", new_admin_reservation_path, class: "btn btn-primary-o"
  .search
    h2 Search
    = simple_form_for @reservation_filter, url: '', method: :get do |f|
      = f.input :keyword, label: false
      = f.input :status, collection: Reservation.status.options
      = f.button :submit, 'Search', class: "btn-primary-o"
  .clearfix        
  - @reservations.includes(:rooms).each do |r|
    .reservation
      h3 = r.name
      .details
        .left
          .detail
            b Contact Number:
            p = r.contact_number
          .detail
            b Email:
            p = r.email
          .detail
            b NRIC:
            p = r.nric
          .detail
            b Room Type:
            p = r.room_type.name
          .detail
            b Remark:
            = simple_format r.remark.truncate(200)
        .right    
          .detail
            b Arrival Date:
            p = r.arrival_on
          .detail
            b Departure Date:
            p = r.departure_on
          .detail
            b No. of Rooms:
            p = r.no_of_rooms
          .detail
            b No. of Persons:
            p = r.no_of_persons
          .detail
            b Total Price:
            p = r.price_reservation
          .detail
            b Room Selected: 
            p = r.rooms.map(&:name).join(", ")
          .detail
            b Status:
            p = r.status_text
      .contols
        = link_to 'Edit Reservation', edit_admin_reservation_path(r), class: 'btn btn-primary-o'
        - if !r.status.cancelled?
          = link_to 'Cancel Reservation', cancel_admin_reservation_path(r), method: :patch, class: 'btn btn-primary-o'
  = will_paginate @reservations , :previous_label => '<<', :next_label => '>>', renderer: BootstrapPagination::Rails  



  