- breadcrumb :reservation_create

.block
  .header
    .title
      h1 Create New Reservation
      p Please fill in customer’s information to create new reservation.
  = simple_form_for @reservation, html: { autocomplete: 'off' }, url: admin_reservations_path, as: :reservation do |f|
    = render 'form', reservation: @reservation, f: f