section.shared-footer {
  background-color: #c3b090;
  min-height: 250px;
  z-index: 310;

  .container {
    .footer-rows {
      display: flex;
      color: #fff;
      flex-wrap: wrap;

      .col-1 {
        flex-basis: 230px;
        margin-right: 85px;

        .logo-footer{
          img {
            margin-top: 20px;
            margin-bottom: 23px;
          }
        }

        > p {
          font-size: 16px;
          line-height: 1.5;
          z-index: 320;
          margin-bottom: 35px;
        }

        .copyright {
          > p{
            font-size: 12px;
            font-style: italic;
            z-index: 321;
          }
        }
      }

      .col-2 {
        flex-basis: 275px;
        margin-right: 30px;

        .quick-link {
          .title {
            border-bottom: 1px solid white;  

            h3 {
              font-size: 18px;
              line-height: 25px;
              margin-top: 30px;
              z-index: 311;
            }
          }

          ul {
            list-style: none;
            width:  100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;

            li {
              flex-basis: 130px;
              display: inline-block;
              margin-top: 20px;
              font-size: 14px;
              font-weight: bold;
              z-index: 315;
            }  
          }
        }
      }

      .col-3 {
        flex: 1;
        .find-us {
          .title{
            width: 100%;
            border-bottom: 1px solid white;  

            h3 {
              font-size: 18px;
              line-height: 25px;
              margin-top: 30px;
              z-index: 311;
            }
          }

          .cols {
            display: flex;
            margin-top: 30px;

            .col {
              flex-basis: 360px;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              .img {
                flex-basis: 40px;

                img {
                  min-width: 40px;
                }
              }

              .content-find-us {
                flex-basis: 155px;
                padding-left: 20px;
                min-width: 155px;
              }
            }
          }
        }
      }
    }
  } 

  @media only screen and (max-width: 1120px) {
    .container {
      .footer-rows {
        .col-2 {
          flex-basis: 400px;
          margin: 0;
        }

        .col-3 {
          .find-us {
            .cols {
              margin: 10px 0;

              .col:last-child {
                justify-content: flex-end;
              }
            }
          } 
        }
      }
    }
  }  
}