section.shared-header {
  background-image: linear-gradient( 162deg, rgb(51,73,117) 0%, rgb(105,137,202) 100%);
  min-height: 400px;

  .container {
    .menu {
      float: right;
      margin-top: 80px;

      > p {
        font-size: 24px;
        color: #fff;
        line-height: 24px;
        text-align: center;
        z-index: 271;
        float: right;
      }

      > img {
        z-index: 271;
        float: left;
        margin-right: 15px;
        margin-top: 2px;
      }  
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    h1 {
      font-size: 60px;
      color: #fff;
      line-height: 1.2;
      text-align: left;
      z-index: 261;
      letter-spacing: 10px;
    }
  }
}