.image-reset
  = image_tag("login/reset-pass.png", alt: "Image error", title: "Reser oass")
p
  | Forgot your password? 
p Please enter your email to get reset password instruction.  
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
  .form-actions
    = f.button :submit, "Reset Password", class: "btn-primary"
/ = render "devise/shared/links"
