section.admin_room_types-form {
  .block_form {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin: 0 -20px;

    .left {
      flex: 1;
      padding: 0 20px;
    }

    .right {
      flex: 1;
      padding: 0 20px;
    }

    .default-form {
      .form-group {
        padding-bottom: 30px;
      }
    }
  }

  .clearfix {
    padding: 70px 0;
  }
}