section.shared-footer
  .container
    .footer-rows
      .col-1
        .logo-footer
          = image_tag("shared/footer/logo.png", alt: "Image error", title: "Logo")
        p Phasellus aliquam ipsum ut ante laoreet molestie. Donecsit amet malesuada dui.
        .copyright
          p @ 2018 All right reserved by AyethiriMon
      .col-2
        .quick-link
          .title
            h3 Quick Link
          ul
            li HOME
            li CONTACT
            li ABOUT US
            li RESERVATION
            li OUR ROOMS
      .col-3
        .find-us
          .title
            h3 Find Us
          .cols
            .col
              .img
                = image_tag("shared/footer/phone.png", alt: "Image error", title: "Phone")
              .content-find-us
                label Phone Number
                p 0954 432 323
            .col
              .img
                = image_tag("shared/footer/mail.png", alt: "Image error", title: "Mail")
              .content-find-us
                label Email Contact
                p anhnh0711@gmail.com

          