section.home-header
  .container
    .menu  
      / = link_to new_contact_path, :wrap_tag => :li
      /   | Contact Us
  .content
    = image_tag("shared/header/logo.png" , alt: "Image error", title: "Logo")
    p The Art of meeting your highest Expectations
      
