section.home-our_address
  .col-left
    h4 Our Address
    = image_tag("home/our.png", alt: "Image error", title: "Home our")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc lorem. Nulla bibendum tempus mi nec auctor. Proin nec ex est. Donec vel magna ut tortor tempus fermentum ut sed elit.
    p Phasellus aliquam ipsum ut ante laoreet molestie. Donec sit amet malesuada dui. Fusce cursus dui ut metus tincidunt, at ornare odio congue. Sed aliquam nec odio a porttitor.
  .col-right
    .about-us
      div
        p Find us on the map
      div
        = link_to('https://www.facebook.com/BinGeneral') 
          = image_tag("home/fb.png", alt: "facebook", title: "facebook")
        = link_to('https://twitter.com/Louis45785586')  
          = image_tag("home/twitter.png", alt: "twitter", title: "twitter")
        = link_to('https://plus.google.com/u/0/collection/4jxqa')  
          = image_tag("home/google.png", alt: "google", title: "google")
    .img-map
      iframe allowfullscreen="" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7817191910517!2d103.82640655061829!3d1.3060996620729033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da198c9308ef41%3A0xed8555d00817bf33!2sForum+The+Shopping+Mall!5e0!3m2!1sen!2s!4v1549946618994" style="border:0" width="600" 
