section.home-our_services
  .col-left
    h4 Our Services
    = image_tag("home/our.png", alt: "Image error", title: "home our")   
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nunc lorem. Nulla bibendum tempus mi nec auctor. Proin nec ex est. Donec vel magna ut tortor tempus fermentum ut sed elit.
    p Phasellus aliquam ipsum ut ante laoreet molestie. Donec sit amet malesuada dui. Fusce cursus dui ut metus tincidunt, at ornare odio congue. Sed aliquam nec odio a porttitor.
    input.btn.btn-brown-o name="learn-more" type="submit" value="Learn More" /
  .col-right
    .img-service
      = image_tag("home/demo-service.png", alt: "Image error", title: "Service")