section.home-room
  .col-left
    .img-room
      .flexslider
        ul.slides
          - rt.room_images.sample(3).each do |ri|
            li = image_tag(ri.image.url(:medium), alt: rt.name, title: rt.name)
  .col-right
    .details
      .navigation
        = image_tag("home/prev.png", alt: "prev", title: "prev", class: "prev_home")
        p = "#{index} / #{@room_types_amount}"
        = image_tag("home/next.png", alt: "next", title: "next", class: "next_home")
      .content  
        h4 = rt.name
        = image_tag("home/air-conditer.png" , alt: "Image error", title: "Air conditer")
        = image_tag("home/quat.png" , alt: "Image error", title: "fan")
        .description
          p = simple_format rt.description.truncate(300)
        .room-size
          = image_tag("home/giuong.png", alt: "Image error", title: "Giuong")
          .detail
            h5 Room Size:
            p = "#{rt.size} ft."
        .room-size
          = image_tag("home/people.png", alt: "Image error", title: "people")
          .detail
            h5 Capacity:
            p = "Max #{rt.capacity} adults" 
      .price
        .per-night
          b = "#{rt.price_per_night}" 
          span per Night
        .per-month
          b = "#{rt.price_per_month}" 
          span per Month
