section.home-search
  .container 
    .search
      .cols
        .col-1
          p BOOK YOUR
          h5 ROOMS
        = simple_form_for @reservation, url: new_reservation_path, method: :get do |f|
          .cols-input
            .col-input
              = f.input :arrival_on, :as => :date_picker
            .col-input
              = f.input :departure_on, :as => :date_picker
            .col-input
              = f.input :no_of_rooms, input_html: { min: '1' }
            .col-input
              = f.input :no_of_persons, input_html: { min: '1' }  
            .col-btn 
              = f.button :submit, 'Book Now'
