= render 'header'
= render 'search'

.container.rooms
  - @room_types.each_with_index do |rt, i|
    = render 'room', rt: rt, index: i + 1
    
hr
.container
  = render 'our_services'
hr
.container
  = render 'our_address'



         

  