section.admin_room_images-form
  .default-form
    .block_form
      = f.input :image, as: :file
      = f.association :room_type
    .clearfix
      .pull-left
        = f.button :submit, class: "btn-primary-o"