- breadcrumb :room_image_create

.block
  .header
    .title
      h1 Edit Room Image
      p Please choose file.
  = simple_form_for @room_image, url: admin_room_image_path(@room_image) do |f|
    = render 'form', room_image: @room_image, f: f