- breadcrumb :room_images

.block
  .header
    .title
      h1 Room Images
      p You can check ...
    .buttons
      = link_to "New Room Image", new_admin_room_image_path, class: "btn btn-primary-o"
  .clearfix        
  - @room_images.each do |r|
    .room_image
      h3 = r.room_type.name
      .details
          .detail
            b Image :
            p = image_tag r.image.url(:medium)
      .contols 
        = link_to 'Edit Room Image', edit_admin_room_image_path(r), class: 'btn btn-primary-o'
        = link_to 'Delete Room Image', admin_room_image_path(r), method: :delete, class: 'btn btn-primary-o'
  = will_paginate @reservations , :previous_label => '<<', :next_label => '>>', renderer: BootstrapPagination::Rails