- breadcrumb :room_image_create

.block
  .header
    .title
      h1 Create New Room Image
      p Please choose file.
  = simple_form_for @room_image, url: admin_room_images_path do |f|
    = render 'form', room_image: @room_image, f: f