.default-form  
  = simple_form_for @contact do |f|
    = f.input :name
    = f.input :email
    = f.input :contact_number
    = f.input :subject

    .clearfix
      .pull-right
        = f.button :submit, 'Next', class: "btn-primary-o"