body.admin_rooms.index {
  main {
    .block {
      .room {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 20px 0;

        h3 {
          font-size: 24px;
          color: rgb(33, 33, 33);
          font-weight: bold;
          padding: 20px 0;
        }

        .details {
          .detail {
            display: flex;

            b {
              flex: 1;
            }

            p {
              flex: 1;
            }
          }
        }

        .contols {
          margin-top: 20px;

          a {
            margin: 5px;
          }
        }

        b {
          font-size: 16px;
          color: rgb(33, 33, 33);
        }

        p {
          font-size: 16px;
          color: rgb(33, 33, 33);
        }
      }
    }
  }
}