// body {
//   font-family: 'Bai Jamjuree', sans-serif;
//   width: 100%;
//   margin: 0;
//   position: relative;
//   padding: 180px 0 0 260px;
// }

body {
  background-color: #f9f7f6;
  font-family: 'Bai Jamjuree', sans-serif;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 180px 0 0 260px;

  main {
    padding: 0 30px;
  }
}

img {
  max-width: 100%;                                                                                                                                                          
}

li {
  list-style: none
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

b {
  margin: 0;
}

abbr {
  color: red;
}