- breadcrumb :contacts

.block
  .header
    .title
      h1 Contacts
      p You can check for contacts
  .clearfix        
  - @contacts.each do |c|
    .contact
      h3 = c.name
      .details
        .left
          .detail
            b Contact Number:
            p = c.contact_number
          .detail
            b Email:
            p = c.email
        .right    
          .subject
            b Subject:
            = simple_format c.subject
      .contols
        = link_to 'Delete Contact', admin_contact_path(c), method: :delete, class: 'btn btn-primary-o'
  = will_paginate @contacts , :previous_label => '<<', :next_label => '>>', renderer: BootstrapPagination::Rails  
