body.contacts.new {
  .container {
    .contact {
      margin-left: 23%;
      max-width: 675px;
      margin-top: 110px;

      h2 {
        text-align: center;
        color: rgb(33, 33, 33);
        letter-spacing: 3px;
        margin-bottom: 70px;
      }

      .form-wrap {
        max-width: 550px;
        margin: auto;

        .textarea {
          min-height: 185px;
        }
      }
    }
  }
}
