section.reservations-form
  .default-form
    = f.input :arrival_on, :as => :date_picker
    = f.input :departure_on, :as => :date_picker
    = f.input :no_of_persons, input_html: { min: '1' }
    = f.input :no_of_rooms, input_html: { min: '1' }
    = f.hidden_field :room_type_id
    .clearfix
      .pull-right
        = f.button :button, "Next", class: "btn-primary-o btn-next"