section.reservations-form
  .default-form
    = f.input :name
    = f.input :email
    = f.input :contact_number
    = f.input :nric
    = f.input :remark
    .clearfix
      .pull-right
        = f.button :submit, "Confirm", class: "btn-primary-o btn-confirm"