section.reservations-room_type
  .image 
    div
      - room_type.room_images.sample(1).each do |ri|
        = image_tag(ri.image.url(:thumb), alt: room_type.name, title: room_type.name)
        - room_type.amenities.each do |amenity| 
          - amenity = amenity.dasherize
          = image_tag("reservation/#{amenity}.png", alt: amenity, title: amenity)
  .details
    .title
      h4 = room_type.name
    .price
      .per
        p = "#{room_type.price_per_night_cents} kyat/Night"
      .per
        p = "#{room_type.price_per_month_cents} kyat/Month" 
    .detail
      = simple_format room_type.description, class: "description"
    .size
      .data
        .img
          = image_tag("reservation/size.png", alt: "Image error", title: "Size")
        .document
          b Room Size:
          p = "#{room_type.size} ft."
      .data
        .img
          = image_tag("reservation/people.png", alt: "Image error",title: "People")
        .document
          b Capacity: 
          p = "Max #{room_type.capacity} adults"  
    .clearfix
      .pull-right
        button.btn.btn-primary-o.btn-next.take-room type="button" data-room-type-id=room_type.id Take this room


