= render 'shared/header', title: @title || "Default"

.contents
  .container
    ul.steps
      li.step.step-1
        p Step 1.
        p Check Availability
      li.step.step-2 
        p Step 2.
        p Choose Room
      li.step.step-3
        p Step 3.
        p Personal Information
      li.step.step-4
        p Step 4.
        p Payment Confirm
    = simple_form_for @reservation, html: { autocomplete: 'off' } , url: reservations_path, as: :reservation do |f|
      .steps
        .step.step-1
          div
            h3 Let us know your availability
            = render 'form', reservation: @reservation, f: f
        .step.step-2
          - @room_types.each do |room_type|
            = render 'room_type', room_type: room_type
        .step.step-3
          div
            h3 Please let us know your information
            = render 'form_2', reservation: @reservation, f: f
        
      
