= render 'shared/header', title: @title || "Default"

.contents
  .container
    ul.steps
      li.step.step-1.completed
        p Step 1.
        p Check Availability
      li.step.step-2.completed 
        p Step 2.
        p Choose Room
      li.step.step-3.completed
        p Step 3.
        p Personal Information
      li.step.step-4.active
        p Step 4.
        p Payment Confirm
    .steps
      .step.step-4.active
        .room
          h2 Your Reservation
          div
            .left
              .content
                b Arrival Date:
                p = @reservation.arrival_on
              .content
                b No. of Rooms:
                p = @reservation.no_of_rooms
            .right    
              .content
                b Departure Date:
                p = @reservation.departure_on
              .content
                b No. of Persons:
                p = @reservation.no_of_persons
            .room_type  
              b = @reservation.room_type.name
            .total
              b Total:
            .price  
              p = "#{@reservation.room_type.price_per_month_cents} kyat"  
        .details
          .title
            h2 Your Information
          .detal
            .content
              .bold
                b Your Name: 
              .p
                p = @reservation.name
            .content
              .bold  
                b Contact Number:
              .p
                p = @reservation.contact_number
            .content
              .bold  
                b Email:
              .p
                p = @reservation.email
            b Remark:
            = simple_format @reservation.remark, class: 'remark'
          .clearfix
            .pull-right
              button.btn.btn-primary-o type="button"  Confirm Payment


    
      
