.image
  = image_tag("login/reset-pass.png", alt: "Image error", title: "Logo login")
  p Please enter your detail to login
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" },:label => "Email"
    = f.input :password, required: false, input_html: { autocomplete: "current-password" }
    // = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = render "devise/shared/links"
  = f.button :submit, "Log in", class: "btn-primary"  

  
