.btn {
  min-width: 180px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 30px;
  outline: none !important;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary-o {
  border: 2px solid rgb(52, 74, 119) !important;
  background-color: #fff !important;
  color: rgb(52, 74, 119) !important;
}

.btn-brown-o {
  border: 2px solid rgb(195, 176, 144) !important;
  background-color: #fff !important;
  color: rgb(195, 176, 144) !important;
}

.btn-white-o {
  background-color: #1d3566;
  border: 2px solid rgb(255, 255, 255);
  color: #fff !important;
}