// .default-form {
//   .simple_form {
//     .form-group {
//       display: flex;

//       .label-wrapper {
//         flex-basis: 180px;

//         > label {
//           font-size: 18px;
//           line-height: 1.2;
//           padding-top: 8px;
//           font-weight: inherit;

//           &::after { 
//             content: ":";
//           }
//         }
//       }

//       .input-wrapper {
//           flex: 1;

//           > input {
//           min-height: 40px;
//         }

//         > textarea {
//           min-height: 185px;
//           resize: none;
//         }
//       }
      
//       abbr[title="required"] {
//       display: none;
//       }

//       &.show-required {
//         abbr[title="required"] {
//           display: inline-block;
//         }
//       }
//     }
//   }
// }
.default-form {
  .form-group {
    display: flex;

    .label-wrapper {
      flex-basis: 180px;

      > label {
        font-size: 18px;
        line-height: 1.2;
        padding-top: 8px;
        font-weight: inherit;

        &::after { 
          content: ":";
        }
      }
    }

    .input-wrapper {
        flex: 1;

        > input {
        min-height: 40px;
      }

      > textarea {
        min-height: 185px;
        resize: none;
      }
    }
  }
  abbr[title="required"] {
    display: none;
  }

  &.show-required {
    abbr[title="required"] {
      display: inline-block;
    }
  }
}