.flexslider {
  &, .slides {
    float: left;
  }

  .flex-direction-nav {
    display: none;
  }

  .flex-control-nav {
    z-index: 2;
    bottom: 16px;

    a {
      border-radius: 0;
      width: 50px;
      height: 6px;
      border: 1px solid #fff;
      background: none;

      &.flex-active {
        background: #fff;
      }
    }
  }

  .slides {
    > li {
      > img {
        width: 571px;
        height: 601px;
      }
    }
  }
}