body.devise_passwords.new {
  main {
    .block {
      max-width: 470px; 
      .image-reset {
        text-align: center;
        margin-bottom: 35px;
      }

      form {
        margin-top: 95px;

        input {
          &.btn-primary {
            margin-top: 50px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;;
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
        }
      }
    }
  }
}