body {
  background-color: #fff;
  font-family: 'Bai Jamjuree', sans-serif;
  width: 100%;
}

main {
  min-height: 1080px;
}

h2 {
  font-size: 24px;
}

img {
  max-width: 100%;                                                                                                                                                          
}