doctype html
html
  head
    title
      | DemoCssFisrtProject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
  body.layouts-main class=page_class
    = render 'admin/shared/sidebar'
    = render 'admin/shared/menu'
    = render 'admin/layouts/breadcrumb'
    - flash.each do |name_flash, msg|
      = content_tag :div, msg, class: name_flash
    main = yield

    = javascript_initialization