section.admin-shared-menu {
  position: absolute;
  top: 0;
  left: 260px;
  right: 0;
  background-color: rgb(52, 74, 119);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  height: 60px;
  z-index: 5;

  i {
    color: #fff;
    font-size: 20px;
  }
}