section.admin-shared-sidebar {
  position: fixed;
  min-width: 260px;
  background-color: rgb(255, 255, 255);
  opacity: 0.949;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;

  > .logo-panel {
    height: 145px;
    width: 260px;
    text-align: center;
    display: flex;
    justify-content : center;
    align-items: center;
  }

  > ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      width: 100%;
      position: relative;

      .fa-rotate-45 {
        transform: rotate(180deg);
      }

      a {
        font-size: 16px;
        line-height: 50px;
        width: 100%;
        font-family: "Bai Jamjuree";
        color: rgb(33, 33, 33);
        text-decoration: none;
        display: block;
        width: 100%;
        padding-left: 60px;
      }

      i {
        position: absolute;
        font-size: 16px;
        top: 17px;
        left: 30px;
      }

      &:hover {
        background-color: rgb(52, 74, 119);

        a {
          color: white;
        }

        i {
          color: white;
        }
      }

      &.active {
        background-color: rgb(52, 74, 119);

        a {
          color: white;
        }

        i {
          color: white;
        }
      }
    }
  } 
}