body.sidebar-collapsed {
  padding: 180px 0 0 0px;
  transition: padding 1s;

  section#sidebar {
    left: -260px;
    transition: left 1s;
  }

  section.admin-shared-menu {
    left: 0;
    transition: left 1s;
  }

  section.layouts-breadcrumb {
    left: 0;
    transition: left 1s;
  }
}

body.sidebar-uncollapsed {
  padding: 180px 0 0 260px;
  transition: padding 1s;

  section#sidebar {
    left: 0px;
    transition: left 1s;
  }

  section.admin-shared-menu {
    left: 260px;
    transition: left 1s;
  }

  section.layouts-breadcrumb {
    left: 260px;
    transition: left 1s;
  }
}