section.admin-shared-sidebar#sidebar
  .logo-panel
    = link_to '/admin', class: "logo-admin"
      = image_tag("admin/admin-panel.png", alt: "Image error", title: "Admin panel")

  ul
    = active_link_to admin_reservations_path, active: /^(\/admin\/?$|\/admin\/reservations)/, :wrap_tag => :li
      = icon('fas', 'home')
      | Reservations
    - if can? :index, RoomType  
      = active_link_to admin_room_types_path, :wrap_tag => :li
        = icon('fas', 'igloo')
        | Room types
      = active_link_to admin_rooms_path, :wrap_tag => :li
        = icon('fas', 'igloo')
        | Rooms
      = active_link_to admin_room_images_path, :wrap_tag => :li
        = icon('fas', 'igloo')
        | Room images
      = active_link_to admin_calendar_index_path, :wrap_tag => :li
        = icon('far', 'calendar-alt')
        | Calendar
      = active_link_to admin_accounts_path, :wrap_tag => :li
        = icon('far', 'calendar-alt')
        | Account
      = active_link_to admin_charts_path, :wrap_tag => :li
          = icon('far', 'chart-bar')
          | Reports
    li  
      = icon('fas', 'sign-out-alt', class: 'fa-rotate-45')
      = link_to('Logout', destroy_user_session_path, method: :delete)
