body {
  background: #fcfaf9;
  padding: 0;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .block {
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
      z-index: 19;
      padding: 50px;
      min-width: 470px;

      p {
        font-size: 16px;
        font-family: "Bai Jamjuree Medium";
        margin: 0 5px;
      }
      .image {
        text-align: center;
        margin-bottom: 15px;
      }
      form {
        .label-wrapper {
          label {
            display: block;
            font-size: 16px;
            font-family: "Bai Jamjuree Medium";
            margin-bottom: 5px;
          }
        }
        .input-wrapper {}
        input {
          margin: 0;
          line-height: 40px;
          height: 40px;
          font-size: 16px;
          width: 100%;
          box-sizing: border-box;
        }
        input.btn.btn-primary {
          margin-top: 30px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          color: rgb(255, 255, 255);
          font-weight: bold;
          width: 100%;
          border: none;
        }
      }
    }
  } 
}

.copyright {
  margin-top: 30px;

  p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(117, 117, 117);
    font-style: italic;
    line-height: 1.5;
  }
}

input {
  padding: 0 10px;
}