doctype html
html
  head
    title
      | DemoCssFisrtProject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload'
  body.layouts-devise class=page_class
    main 
      .block
        = render  "devise/shared/error" 
        = yield
      .copyright
        p © Copyright 2018 AyeThiriMon. All right reserved
